
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

#gradeResult{
  border: solid 3px aqua;
  display: inline-flex;
  border-radius: 15%;
}


#gradeRemark{
  display: inline;
}

.bottomButton{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.bottomButton2{
  position: fixed;
  bottom: 10px;
  left: 10px;
}

